*{
    transition: all .2s ease-in-out;
}

body{
    background: lightpink;
}

body, html{
    padding: 0;
    margin: 0;
}

input{
    border: none;
    border-radius: 4px;
    outline: none;
    color:  rgb(112, 112, 112);
}

input:hover{
    cursor: text;
    box-shadow: 0 0 20px white;
}

img{
    cursor: pointer;
}

.hidden{
    display: none;
}

.myModal{
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 60vw;
    padding: 5vw;
    background: rgba(32, 32, 32, 0.9);
}

.myModal img{
    width: 50vw;
    cursor: default;
}

